In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
## uploading all data

df_train=pd.read_parquet('train_data.parquet')
df_test=pd.read_parquet('test_data.parquet')
df_offer=pd.read_parquet('offer_metadata.parquet')
df_dict=pd.read_csv('data_dictionary.csv')
df_transaction=pd.read_parquet('add_trans.parquet')
df_event=pd.read_parquet('add_event.parquet')

In [3]:
x=[[df_train.shape],[df_test.shape],[df_offer.shape],[df_dict.shape],[df_transaction.shape],[df_event.shape]]
x

[[(770164, 372)],
 [(369301, 371)],
 [(4164, 12)],
 [(372, 3)],
 [(6339465, 9)],
 [(21457473, 5)]]

In [4]:
# df_train.isnull().sum()

In [5]:
# df_dict['Type']=='Categorical'

In [6]:
# columns=[[df_train.columns],[df_test.columns],[df_offer.columns],[df_dict.columns],[df_transaction.columns],[df_event.columns]]
# columns

In [7]:
# '1' in df_train['y'].values

In [8]:
# df_train.head()

In [9]:
# df_dict.head()

In [10]:
## mapping the column id to their actual names from df_dict dataframe

id_to_name=dict(zip(df_dict['masked_column'],df_dict['Description']))

In [11]:
df_train1=df_train.rename(columns=id_to_name)

In [12]:
# df_train1.head()

In [13]:
# df_offer.head()

In [14]:
df_offer.shape

(4164, 12)

In [15]:
# df_offer1=df_offer.rename(columns=id_to_name)

In [16]:
# df_offer1.head()

In [17]:
# df_offer1.isnull().sum()

In [18]:
df_train.describe()

,id1,id2,id3,id4,id5,y,f1,f2,f3,f4,...,f357,f358,f359,f360,f361,f362,f363,f364,f365,f366
count,770164,770164,770164,770164,770164,770164,278506,322972,108562,68869,...,587734,628173,727175,232,654412,654412,654412,661850,661850,661850
unique,770164,46550,757,763371,3,2,82,88,74,65,...,2305,2150,2,1,1951,110,8398,3893,505,18084
top,1366776_189706075_16-23_2023-11-02 22:22:00.042,1396352,92636,2023-11-01 08:57:21.690,2023-11-01,0,13.0,9.0,1.0,1.0,...,0.0,-9999.0,0.0,1.0,1.0,0.0,0.0,51.0,0.0,0.0
freq,1,510,2446,5,301698,733113,42443,33756,19425,14848,...,13352,53759,725345,232,42543,418293,418293,6773,205968,205968

In [19]:
df_train['id2'].dtype

dtype('O')

In [20]:
df_train.shape

(770164, 372)

In [21]:
# import tensorflow as tf
# from tensorflow.keras import Sequential
# from tensorflow.keras.layers import Dense
# from sklearn.model_selection import train_test_split

In [22]:
X=df_train.drop(columns=['y'])
y=df_train['y']

In [23]:
X1=X.drop(columns=['id1', 'id2', 'id3', 'id4', 'id5'])

In [36]:
X1['f1'] = X1['f1'].fillna(0)
X1['f1'].unique()
X1['f1'] = pd.to_numeric(X1['f1'], errors='coerce')

In [47]:
X1['f42'].unique()

array([0.])

In [44]:
cols_to_convert = [f'f{i}' for i in range(2, 52)]  # f1 to f51

# Convert each column to numeric, replacing 'None'/invalids with NaN
X1[cols_to_convert] = X1[cols_to_convert].apply(pd.to_numeric, errors='coerce')
X1[cols_to_convert] = X1[cols_to_convert].fillna(0)

In [26]:
y = y.astype(int)
y.info()

<class 'pandas.core.series.Series'>
RangeIndex: 770164 entries, 0 to 770163
Series name: y
Non-Null Count   Dtype
--------------   -----
770164 non-null  int64
dtypes: int64(1)
memory usage: 5.9 MB

In [27]:
# X_train,X_test,y_train,y_test=train_test_split(X2,y,test_size=0.2,random_state=42)

In [28]:
# model=Sequential()

In [29]:
# model.add(Dense(256,activation='relu',input_dim=371))
# model.add(Dense(256,activation='relu'))
# model.add(Dense(256,activation='relu'))
# model.add(Dense(256,activation='relu'))
# model.add(Dense(256,activation='relu'))
# model.add(Dense(256,activation='relu'))
# model.add(Dense(256,activation='relu'))
# model.add(Dense(256,activation='relu'))
# model.add(Dense(256,activation='relu'))
# model.add(Dense(256,activation='relu'))
# model.add(Dense(1,activation='sigmoid'))

In [30]:
# model.summary()

In [31]:
# model.compile(loss='binary_crossentropy',optimizer='Adam',metrics=['accuracy'])

# early_stopping = tf.keras.callbacks.EarlyStopping(
#    monitor='val_loss',  # Metric to monitor
#    patience=10,         # Number of epochs with no improvement after which training will be stopped
#    restore_best_weights=True # Restore model weights from the epoch with the best value of the monitored quantity
# )

In [32]:
# df_train['y'].unique()

In [33]:
# history=model.fit(X_train,y_train,epochs=500,validation_split=0.2,batch_size=32,callbacks=[early_stopping])